
:root {
    --form-element-spacing-vertical: .15rem;
    --form-element-spacing-horizontal: 1rem;
    --border-radius: .10rem;
    --line-height: 1.3;
}

body {
    padding-top: var(--spacing);
}

footer {
    text-align: right;
}

textarea {
    height: 88vh; 
    font-family: monospace;
}

.layout {
    display: grid; 
    grid-template-columns: 0.3fr 1.7fr; 
    grid-template-rows: 1fr; 
    gap: 0px 1rem; 
    grid-template-areas: 
    ". ."; 
}
